body{
    border: 5px solid lightpink;
    padding: 2%;
    max-width: 980px;
    margin: 0 auto;
    background-color: lightcyan;
}

.container-flex{
    display: flex;
   /* flex-direction: row; */
   /* flex-wrap: wrap; */
   flex-flow: row wrap;   
}

.field-input, .textarea {
    border: 4px solid #ADBEEC ;
    margin: 0 5px 0 0;
    padding: 2em 1em;
}

.field-imput{
     flex: 40px;
     width: 45%;
}

.textarea{
    border: 4px solid oldlace;
    width: 100%;
}

h1{
    color: blue;
}

